/*
  ---------------
  animations
  ---------------
*/

@keyframes fadeProduct {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/*
  ---------------
  navigation
  ---------------
*/

.page-nav {
  background-color: var(--color-mirage);
  padding: 20px 0;
}

.page-nav ul {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.page-nav li {
  display: inline-block;
}

.page-nav__button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  color: var(--color-cornsilk);
  cursor: pointer;
  display: inline-block;
  font-size: 28px;
  font-weight: 700;
  padding: 20px 10px;
  text-transform: uppercase;
}

.page-nav__button:focus,
.page-nav__button:hover {
  color: #fff;
}

.page-nav__button.-selected {
  background-color: #666;
}


/*
  ---------------
  products
  ---------------
*/

.products {
  background-color: var(--color-cornsilk);
  min-height: 490px;
}

.product-section {
  background-color: var(--color-cornsilk);
  padding: 80px 0 50px;
}

.product-section h3 {
  color: var(--color-davys-grey);
  font-size: 30px;
  margin: 0 0 30px 0;
  text-align: center;
}

.barrel-aged {
  background-color: var(--color-brown-tumbleweed);
}

.barrel-aged h3,
.barrel-aged .product__extra {
  color: var(--color-fawn);
}

.product-section::after {
	clear: both;
	content: '';
	display: table;
}

.product-list {
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 0 -30px;
  min-height: 217px;
  padding: 0;
  text-align: center;
}

.product {
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-name: fadeProduct;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  margin: 0;
  opacity: 0;
  padding: 0 0 30px 30px;
  width: 25%;
}

.product:nth-child(1) { animation-delay: 100ms; }
.product:nth-child(2) { animation-delay: 150ms; }
.product:nth-child(3) { animation-delay: 200ms; }
.product:nth-child(4) { animation-delay: 250ms; }
.product:nth-child(5) { animation-delay: 300ms; }
.product:nth-child(6) { animation-delay: 350ms; }
.product:nth-child(7) { animation-delay: 400ms; }
.product:nth-child(8) { animation-delay: 450ms; }
.product:nth-child(9) { animation-delay: 500ms; }
.product:nth-child(10) { animation-delay: 550ms; }

.product a {
  display: block;
}

.product a:focus img,
.product a:hover img {
  transform: scale(.9);
}

.product img {
  height: auto;
  transition: all 200ms ease;
  width: 100%;
}

.product__extra {
  color: var(--color-davys-grey);
  display: block;
  font-size: 15px;
  margin-top: 20px;
  text-transform: uppercase;
}

.product__extra:empty {
  display: none;
}
