*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-gallery);
  font-family: sans-serif;
  font-weight: var(--font-light);
  margin: 0;
  padding: 0;
}

body.sourceSansPro-loaded {
  font-family: var(--font-main);
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

.oswald-loaded h1,
.oswald-loaded h2,
.oswald-loaded h3,
.oswald-loaded h4 {
  font-family: var(--font-alt);
}

a {
  color: var(--color-lust);
  text-decoration: none;
  transition:
    background 100ms ease,
    color 100ms ease;
}

a:focus,
a:hover {
  color: #000;
}

*:focus {
  outline: 3px solid #06c;
}

[data-whatinput='mouse'] a:focus,
[data-whatinput='mouse'] button:focus,
[data-whatinput='touch'] a:focus,
[data-whatinput='touch'] button:focus {
  outline: none;
}
