.site-footer__links {
  background-color: #fff;
  color: var(--color-davys-grey:);
  padding: 73px 0 100px;
}

.site-footer__links p {
  font-size: 15px;
  line-height: 1.8;
  margin: 0;
}

.site-footer__links h3 {
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0 0 14px;
  text-transform: uppercase;
}

.site-footer__copyright {
  color: var(--color-ironside-gray);
  font-size: 12px;
  letter-spacing: 1px;
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
}

.site-footer__copyright p {
  margin: 0;
}

.site-footer__copyright p + p {
  margin-top: 1em;
}
