:root {
  /*
    colors
  */

  --color-mirage: #17222a;
  --color-alabaster: #fbfbfb;
  --color-gallery: #eee;
  --color-ironside-gray: #666;
  --color-davys-grey: #555;
  --color-tundora: #444;
  --color-cornsilk: #fff6dc;
  --color-fawn: #daae6b;
  --color-brown-tumbleweed: #3d2814;
  --color-lust: #ee3124;


  /*
    fonts
  */

  --font-main: 'Source Sans Pro', sans-serif;
  --font-alt: 'Oswald', sans-serif;
  --font-bold: 700;
  --font-normal: 400;
  --font-light: 300;


  /*
    dimensions
  */

  --header-height: 65px;


  /*
    animation
  */

  --bounce: cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
