:root {
  /*
    colors
  */


  /*
    fonts
  */


  /*
    dimensions
  */


  /*
    animation
  */
}
/*
  ---------------
  Oswald
  ---------------
*/

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oswald-regular-webfont.eot');
  src: url('../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/oswald-regular-webfont.woff2') format('woff2'),
    url('../fonts/oswald-regular-webfont.woff') format('woff'),
    url('../fonts/oswald-regular-webfont.ttf') format('truetype');
}


/*
  ---------------
  Source Sans Pro
  ---------------
*/

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/sourcesanspro-light-webfont.eot');
  src: url('../fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
    url('../fonts/sourcesanspro-light-webfont.woff') format('woff'),
    url('../fonts/sourcesanspro-light-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sourcesanspro-regular-webfont.eot');
  src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
    url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
    url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/sourcesanspro-bold-webfont.eot');
  src: url('../fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
    url('../fonts/sourcesanspro-bold-webfont.woff') format('woff'),
    url('../fonts/sourcesanspro-bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/sourcesanspro-italic-webfont.eot');
  src: url('../fonts/sourcesanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro-italic-webfont.woff2') format('woff2'),
    url('../fonts/sourcesanspro-italic-webfont.woff') format('woff'),
    url('../fonts/sourcesanspro-italic-webfont.ttf') format('truetype');
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

body.sourceSansPro-loaded {
  font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

.oswald-loaded h1 {
  font-family: 'Oswald', sans-serif;
}

.oswald-loaded h2 {
  font-family: 'Oswald', sans-serif;
}

.oswald-loaded h3 {
  font-family: 'Oswald', sans-serif;
}

.oswald-loaded h4 {
  font-family: 'Oswald', sans-serif;
}

a {
  color: #ee3124;
  text-decoration: none;
  -webkit-transition:
    background 100ms ease,
    color 100ms ease;
          transition:
    background 100ms ease,
    color 100ms ease;
}

a:focus,
a:hover {
  color: #000;
}

*:focus {
  outline: 3px solid #06c;
}

[data-whatinput='mouse'] a:focus,
[data-whatinput='mouse'] button:focus,
[data-whatinput='touch'] a:focus,
[data-whatinput='touch'] button:focus {
  outline: none;
}
.grid__row {
  list-style: none;
  margin: 0 0 0 -30px;
  padding: 0;
}

.grid__row::after {
  clear: both;
  content: '';
  display: table;
}

[class*='row--'] {
  float: left;
  padding-left: 30px;
}

.row--1 {
  width: 8.3334%;
}

.row--2 {
  width: 16.6667%;
}

.row--3 {
  width: 25%;
}

.row--4 {
  width: 33.3334%;
}

.row--5 {
  width: 41.6667%;
}

.row--6 {
  width: 50%;
}

.row--7 {
  width: 58.3334%;
}

.row--8 {
  width: 66.6667%;
}

.row--9 {
  width: 75%;
}

.row--10 {
  width: 83.3334%;
}

.row--11 {
  width: 91.6667%;
}

.row--12 {
  width: 100%
}
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sr-skip-link {
  background-color: #000;
  color: #fff;
  display: block;
  left: 0;
  font-weight: 700;
  padding: 20px;
  position: absolute;
  top: -100px;
  z-index: 999;
}

.sr-skip-link:focus {
  top: 0;
}
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}
.wrapper {
  margin: 0 auto;
  width: 960px;
}
.site-header {
  background-color: #fff;
  box-shadow:
    0 2px 3px rgba(0, 0, 0, 0.15),
    0 0 0 1px rgba(0, 0, 0, 0.05);
  height: 65px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.site-logo {
  background: #ee3124 url('../images/logo.png') no-repeat;
  background-size: cover;
  display: block;
  float: left;
  height: 55px;
  margin: 5px 0 0 20px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 91px;
}

.site-nav {
  float: right;
}

.site-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav li {
  float: left;
}

.site-nav a {
  color: #444;
  display: block;
  font-size: 11px;
  font-weight: 400;
  line-height: 65px;
  padding: 0 15px;
  text-transform: uppercase;
}

.site-nav a:focus {
  background-color: #ee3124;
  color: #fbfbfb;
}

.site-nav a:hover {
  background-color: #ee3124;
  color: #fbfbfb;
}
.site-main {
  background-color: #fff;
  padding-top: 65px;
}
.site-footer__links {
  background-color: #fff;
  color: undefined;
  padding: 73px 0 100px;
}

.site-footer__links p {
  font-size: 15px;
  line-height: 1.8;
  margin: 0;
}

.site-footer__links h3 {
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0 0 14px;
  text-transform: uppercase;
}

.site-footer__copyright {
  color: #666;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
}

.site-footer__copyright p {
  margin: 0;
}

.site-footer__copyright p + p {
  margin-top: 1em;
}

.carousel {
  line-height: 0;
}

.carousel img {
  height: auto;
  max-width: 100%;
}
/*
  ---------------
  animations
  ---------------
*/

@-webkit-keyframes fadeProduct {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeProduct {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}


/*
  ---------------
  navigation
  ---------------
*/

.page-nav {
  background-color: #17222a;
  padding: 20px 0;
}

.page-nav ul {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.page-nav li {
  display: inline-block;
}

.page-nav__button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  color: #fff6dc;
  cursor: pointer;
  display: inline-block;
  font-size: 28px;
  font-weight: 700;
  margin: 0 10px;
  padding: 20px 0;
  position: relative;
  text-transform: uppercase;
}

.page-nav__button::after {
  background-color: #fff6dc;
  bottom: 10px;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  opacity: 0;
  position: absolute;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
          transition: all 300ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
  width: 0;
}

.page-nav__button.-selected::after {
  opacity: 1;
  width: 100%;
}


/*
  ---------------
  products
  ---------------
*/

.product-section {
  background-color: #fff6dc;
  padding: 80px 0 50px;
}

.product-section h3 {
  color: #555;
  font-size: 30px;
  margin: 0 0 30px 0;
  text-align: center;
}

.barrel-aged {
  background-color: #3d2814;
}

.barrel-aged h3 {
  color: #daae6b;
}

.barrel-aged .product__extra {
  color: #daae6b;
}

.product-section::after {
	clear: both;
	content: '';
	display: table;
}

.product-list {
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 0 -30px;
  min-height: 217px;
  padding: 0;
  text-align: center;
}

.product {
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: fadeProduct;
          animation-name: fadeProduct;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  margin: 0;
  opacity: 0;
  padding: 0 0 30px 30px;
  width: 25%;
}

.product:nth-child(1) { -webkit-animation-delay: 100ms; animation-delay: 100ms; }
.product:nth-child(2) { -webkit-animation-delay: 150ms; animation-delay: 150ms; }
.product:nth-child(3) { -webkit-animation-delay: 200ms; animation-delay: 200ms; }
.product:nth-child(4) { -webkit-animation-delay: 250ms; animation-delay: 250ms; }
.product:nth-child(5) { -webkit-animation-delay: 300ms; animation-delay: 300ms; }
.product:nth-child(6) { -webkit-animation-delay: 350ms; animation-delay: 350ms; }
.product:nth-child(7) { -webkit-animation-delay: 400ms; animation-delay: 400ms; }
.product:nth-child(8) { -webkit-animation-delay: 450ms; animation-delay: 450ms; }
.product:nth-child(9) { -webkit-animation-delay: 500ms; animation-delay: 500ms; }
.product:nth-child(10) { -webkit-animation-delay: 550ms; animation-delay: 550ms; }

.product a {
  display: block;
}

.product a:focus img,
.product a:hover img {
  -webkit-transform: scale(.9);
      -ms-transform: scale(.9);
          transform: scale(.9);
}

.product img {
  height: auto;
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
  width: 100%;
}

.product__extra {
  color: #555;
  display: block;
  font-size: 15px;
  margin-top: 20px;
  text-transform: uppercase;
}

.product__extra:empty {
  display: none;
}
